/.vscode/*.json           linguist-language=JSON5

/.yarn/**                 linguist-vendored
/.yarn/releases/*         binary linguist-vendored

/.pnp.*                   binary linguist-vendored

/**/__generated__/**/*    linguist-generated
