@font-face {
    font-family: "Gilroy";
    src: url("../assets/fonts/Gilroy-Bold.woff2");
    font-style: normal;
}

@font-face {
    font-family: "Noto Sans JP";
    src: url("../assets/fonts/Noto-Sans-JP-Bold.woff2");
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: "Noto Sans JP";
    src: url("../assets/fonts/Noto-Sans-JP-Regular.woff2");
    font-style: normal;
    font-weight: 400;
}
