name: Deploy greenhouse-proxy-worker

on:
  push:
    paths:
      - '_workers/greenhouse-proxy-worker/**'
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    name: Deploy
    steps:
      - uses: actions/checkout@v3

      - name: Publish
        uses: cloudflare/wrangler-action@2
        with:
          apiToken: ${{ secrets.CF_API_TOKEN }}
